.main{
  width: 100vw;
  height: 100vh;
  background-color: #ccc ;
  /* background-image: url('../../components/assets/static/paradise_portada_fondo.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}