.metadataContainer{
  width: 35rem;
  height: 55.2rem;
  border: 1px solid black;
  text-align: start;
  margin-right: 3rem;
}
.metadata__img{
  width: 320px;
  height: 320px;
  border: 0.3rem solid #fff;
  box-sizing: border-box;
}
.audio-streaming-container{
  width: 32rem;
  height: 11.1rem;
  background-color: #fff;
}