

.provider-list{
  width: 32rem;
  height: 54.2rem;
  box-shadow: 0 0 1rem black;
}
.retailer-ul{
  list-style: none;

}


// .retailer-main--item:nth-child(1){
//   background-color: #fff;
//   background-color: #ff6d00;
// }